# Ignore virtual environments
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables
.env

# --- CRITICAL: Ignore Databases & Backups ---
database.db
*.sqlite3
backup_*.db

# Ignore OS system files
.DS_Store
Thumbs.db